[CLUSTER]
mysql_host = "mysql.example.org"
mysql_port = "3306"
mysql_user = "cqrlog"
mysql_pass = "password"
mysql_db = "cqrlog_common"
mysql_table = "cluster"
[CTYFILES]
path = ~/.config/cqrlog/dxcc_data/
url = http://www.ok2cqr.com/linux/cqrlog/ctyfiles/cqrlog-cty.tar.gz
autofetch = True